<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/style.css" type="text/css" />
		<title>Eat-Da-Burger</title>
        <script src ="/assets/burgers.js"></script>
</head>
<body>
	<div class='content'>
	{{{ body }}}
	</div>
</body>
</html>