<h1>Little Burgers</h1>

<div class="burgerInput">
  <h2>Add a Burger</h2>
  <form id="create-form">
    <div class="form-group">
      <label for="ca"></label>
      <textarea type="text" id="ca" name="name" placeholder="Enter a burger!"></textarea>
    </div>
    <div class="form-group">
      <input type="radio" class="choice" name="devoured" value="1" id="devoured"> NOMS NOW<br>
      <input type="radio" class="choice" name="devour" value="0" id="devour"> NOMS LATER
    </div>

    <button class="submit" id="submit" type="submit">Add Burger</button>
  </form>
</div>

<div class="image">
  <img class="burgerimage" src="little_burgie.jpg" alt="burger">
</div>

<div class="burgerlist">
  <div class="laterburger">
    <ul class="list">
      {{#each burger}}
      {{#unless devoured}}
      {{> burger-block devoured=false}}
      {{/unless}}
      {{/each}}
    </ul>
  </div>

  <div class="devouredburger">
    <ul class="list">
      {{#each burger}}
      {{#if devoured}}
      {{> burger-block devoured=true}}
      {{/if}}
      {{/each}}
    </ul>
  </div>
</div>
